body{
    background: #cf5fa4;
    /*background-image: url('./Assets/Images/image.png');*/
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position-x: 13rem;
    background-blend-mode: overlay;
    overflow-x: hidden;
}

.RI{
    font-family: "Impact";
    font-size: 90px;
    letter-spacing: 3px;
    margin-top: 1rem;
}

.ns{
    font-family: "Impact";
    font-size: 72px;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
    text-align:justify;
    margin-left: 23rem;
    padding-top: 30px;
}

li{
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Impact';
    letter-spacing: 2px;

    
    &:hover{
        color: #0c0007;
    }
}

.container{
    padding: 0;
    display: inline-block;
}

.child1 {
    width: 50%;
    float: left;
}

.child2{
    padding-left: 10px;
}

.child3{
    width: 180px;
    height: 80px;
    margin-left: 72rem;
    margin-top: -6rem;
    margin-right: 2rem;
}

.child1{
    width: 120px;
    height: 110px;
    margin-left: 1rem;
    margin-top: 0.6rem;
    margin-right: 0rem;
}

.head1{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color: whitesmoke;
    font-size: 100px;
    margin-top: 1.75rem;
    text-shadow: 5px 8px #a80068;
}

.head2{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color:#74064A;
    font-size: 80px;
    text-shadow: #a80068;
    margin-top: -5rem;
    text-shadow: 3px 5px #d30082;
}

.Wie{
    margin-top: -13rem;
    margin-left: 20rem;
    height: 30rem;
    z-index: 999;
}

.theme{
    height: 100%;
    width: 90%;
    margin-left: 5rem;
}

.theme1{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -20rem;
    margin-left: 7.5rem;
}

.theme2{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 27.5rem;
}

.theme3{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: 4.5rem;
    margin-left: 47.5rem;
}

.theme4 {
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 68rem;
}

.theme{
    height: 100%;
    width: 95%;
    margin-left: 3rem;
    z-index: -1;
}

.container1{
    background-color: #000;
    height: 1930px;
    width: 100%;
    margin-top: 0rem;
    display: inline-block;
    overflow: none;
}

.speakers{
    text-align: center;
    color: azure;
    margin-top: -20rem;
    font-family: "Impact";
    font-size: 60px;
    text-decoration: underline;
}

.speakergrad{
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: -2rem;
    z-index: 0;
}

.speakergrad1{
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 60rem;
    z-index: 0;
}

.speaker1{
    height: 500px;
    width: 400px;
    margin-top: -20rem;
    margin-left: 15rem;
}

.s1{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 21rem;
    margin-top: -15rem;
}

.s1c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 23rem;
}

.speaker11{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 45rem;
}

.s2{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 50rem;
    margin-top: -27em; 
}

.s2c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 52rem;
    margin-top: -11.5rem;
}

.s3{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -5rem; 
}

.s3c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 10rem;
    margin-top: 10rem;
}

.speaker2{
    height: 500px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 3rem;
}

.s4{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -27.5rem; 
}

.s4c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 37.5rem;
    margin-top: -12.9rem;
}

.speaker3{
    height: 500px;
    width: 400px;
    margin-top: -33rem;
    margin-left: 30rem;
}

.s5{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -27.5rem; 
}

.s5c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 63.5rem;
    margin-top: -13rem;
}

.speaker4{
    height: 500px;
    width: 400px;
    margin-top: -33rem;
    margin-left: 57rem;
}

.s6{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -7.5rem; 
}

.s6c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 10rem;
    margin-top: 7.5rem;
}

.speaker5{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s7{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -26rem; 
}

.s7c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 37rem;
    margin-top: -11rem;
}

.speaker6{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s8{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -26.5rem; 
}

.s8c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 62rem;
    margin-top: -11.5rem;
}

.speaker7{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.s9{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -7.5rem; 
}

.s9c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 11rem;
    margin-top: 7.5rem;
}

.speaker8{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s10{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -26rem; 
}

.s10c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 38rem;
    margin-top: -11rem;
}

.speaker9{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s11{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -26.5rem; 
}

.s11c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 64rem;
    margin-top: -11.5rem;
}

.speaker10{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.s12{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -6.5rem; 
}

.s12c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 11rem;
    margin-top: 8rem;
}

.speaker12{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s13{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -25.5rem; 
}

.s13c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 36rem;
    margin-top: -10.5rem;
}

.speaker13{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s14{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -25.5rem; 
}

.s14c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 63rem;
    margin-top: -10.5rem;
}

.speaker14{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}
