body{
    background: #cf5fa4;
    /*background-image: url('./Assets/Images/image.png');*/
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position-x: 13rem;
    background-blend-mode: overlay;
    overflow-x: hidden;
}

.RI{
    font-family: "Impact";
    font-size: 90px;
    letter-spacing: 3px;
    margin-top: 1rem;
}

.ns{
    font-family: "Impact";
    font-size: 72px;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
    text-align:justify;
    margin-left: 23rem;
    padding-top: 30px;
}

li{
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Impact';
    letter-spacing: 2px;

    
    &:hover{
        color: #0c0007;
    }
}

.container{
    padding: 0;
    display: inline-block;
}

.child1 {
    width: 50%;
    float: left;
}

.child2{
    padding-left: 10px;
}

.child3{
    width: 180px;
    height: 80px;
    margin-left: 72rem;
    margin-top: -6rem;
    margin-right: 2rem;
}

.child1{
    width: 120px;
    height: 110px;
    margin-left: 1rem;
    margin-top: 0.6rem;
    margin-right: 0rem;
}

.head1{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color: whitesmoke;
    font-size: 100px;
    margin-top: 1.75rem;
    text-shadow: 5px 8px #a80068;
}

.head2{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color:#74064A;
    font-size: 80px;
    text-shadow: #a80068;
    margin-top: -5rem;
    text-shadow: 3px 5px #d30082;
}

.Wie{
    margin-top: -13rem;
    margin-left: 20rem;
    height: 30rem;
    z-index: 999;
}

.theme{
    height: 100%;
    width: 90%;
    margin-left: 5rem;
}

.theme1{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -20rem;
    margin-left: 7.5rem;
}

.theme2{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 27.5rem;
}

.theme3{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: 4.5rem;
    margin-left: 47.5rem;
}

.theme4 {
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 68rem;
}

.theme{
    height: 100%;
    width: 95%;
    margin-left: 3rem;
    z-index: -1;
}

.container1{
    background-color: #000;
    height: 1930px;
    width: 100%;
    margin-top: -7rem;
    display: inline-block;
    overflow: none;
}

.speakers{
    text-align: center;
    color: azure;
    margin-top: -20rem;
    font-family: "Impact";
    font-size: 60px;
    text-decoration: underline;
}

.speakergrad{
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: -2rem;
    z-index: 0;
}

.speakergrad1{
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 60rem;
    z-index: 0;
}

.speaker1{
    height: 500px;
    width: 400px;
    margin-top: -20rem;
    margin-left: 15rem;
}

.s1{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 21rem;
    margin-top: -15rem;
}

.s1c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 23rem;
}

.speaker11{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 45rem;
}

.s2{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 50rem;
    margin-top: -27em; 
}

.s2c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 52rem;
    margin-top: -11.5rem;
}

.s3{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -5rem; 
}

.s3c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 10rem;
    margin-top: 10rem;
}

.speaker2{
    height: 500px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 3rem;
}

.s4{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -27.5rem; 
}

.s4c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 37.5rem;
    margin-top: -12.9rem;
}

.speaker3{
    height: 500px;
    width: 400px;
    margin-top: -33rem;
    margin-left: 30rem;
}

.s5{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -27.5rem; 
}

.s5c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 63.5rem;
    margin-top: -13rem;
}

.speaker4{
    height: 500px;
    width: 400px;
    margin-top: -33rem;
    margin-left: 57rem;
}

.s6{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -7.5rem; 
}

.s6c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 10rem;
    margin-top: 7.5rem;
}

.speaker5{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s7{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -26rem; 
}

.s7c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 37rem;
    margin-top: -11rem;
}

.speaker6{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s8{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -26.5rem; 
}

.s8c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 62rem;
    margin-top: -11.5rem;
}

.speaker7{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.s9{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -7.5rem; 
}

.s9c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 11rem;
    margin-top: 7.5rem;
}

.speaker8{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s10{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -26rem; 
}

.s10c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 38rem;
    margin-top: -11rem;
}

.speaker9{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s11{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -26.5rem; 
}

.s11c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 64rem;
    margin-top: -11.5rem;
}

.speaker10{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.s12{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 8rem;
    margin-top: -6.5rem; 
}

.s12c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 11rem;
    margin-top: 8rem;
}

.speaker12{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.s13{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 35rem;
    margin-top: -25.5rem; 
}

.s13c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 36rem;
    margin-top: -10.5rem;
}

.speaker13{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.s14{
    height: 230px;
    border-radius: 190px;
    position: absolute;
    margin-left: 62rem;
    margin-top: -25.5rem; 
}

.s14c{
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    z-index: 5;
    margin-left: 63rem;
    margin-top: -10.5rem;
}

.speaker14{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.tickets{
    background-color: #000;
    width: 100%;

    overflow: none;
}

.ticketH{
    color:#000;
    font-family: "Impact";
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    font-size: 150px;
    margin-left: 3rem;
    letter-spacing: 5px;
}

.ticket1{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    opacity: 0.5;
    width: 350px;
    border-radius: 25px;

    margin-left: 3rem;
}
#b{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);

    width: 350px;

}
#c{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);

    width: 400px;
}
.ticket2{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    opacity: 0.5;
    width: 300px;
    position: absolute;
    border-radius: 50px;
    margin-left: 26rem;
    margin-top: -25rem;
}

#tickp1{
    color: white;
    font-size: 50px;
    font-family:"Impact";

}
#tickp2{
    color: white;
    font-size: 70px;
    font-family:"Impact";
}

.buy1{
    height: 40px;
    width: 150px;  
    font-family: "impact";
    letter-spacing: 5px; 
    margin-top: 20rem;
    z-index: 3;
    margin-left: 7.5rem;
    border-radius: 10px;
    position: absolute;
    color:rgb(43, 43, 43);
    box-shadow: 10px 10px #fab7de;
    border: 2px solid #0F0C0E;
    background: #F3D1E5;
}

.tickp2{
    color: white;
    position: absolute;
    z-index: 3;
    font-size: 50px;
    margin-left: 26.5rem;
    margin-top: -21rem;
    font-family:"Impact";
    text-align: center;
}

.buy2{
    height: 40px;
    width: 150px;  
    font-family: "impact";
    letter-spacing: 5px; 
    margin-top: -5rem;
    z-index: 3;
    margin-left: 30.5rem;
    border-radius: 10px;
    position: absolute;
    color:rgb(43, 43, 43);
    box-shadow: 10px 10px #fab7de;
    border: 2px solid #0F0C0E;
    background: #F3D1E5;
}

.IEEEM{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    position: absolute;
    opacity: 1;
    width: 300px;
    margin-top: -25rem;
    border-radius: 50px;
    margin-left: 70rem;
}

.IEEEM1{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    position: absolute;
    opacity: 0.5;
    z-index: -0.5;
    width: 300px;
    margin-top: -22rem;
    border-radius: 25px;
    margin-left: 66rem;
}
#IEEEM2t{

}
#IEEEM1t{
    color: white;
    font-size: 50px;
    font-family:"Impact";
    text-align: center;
    background-color: #8F638F;

}
.inn{
    line-height: 60px;

    height: 200px;

    z-index: 4;


}
.inno{
    line-height: 60px;
width: 300px;
    position: absolute;
    margin-top: -350px;
    padding: 60px;
    right: -10px;

    z-index: 3;
    border: 8px solid #B9448D;
}

.IEEENM{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    position: absolute;
    opacity: 1;
    width: 300px;
    margin-top: 5rem;
    border-radius: 50px;
    margin-left: -5rem;
}

#new{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    border-radius: 50px;
    opacity: 90%;
}

.IEEENM1{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    position: absolute;
    opacity: 0.5;
    z-index: -0.5;
    width: 300px;
    margin-top: 8rem;
    border-radius: 50px;
    margin-left: 0rem;
}

.IEEENM1t{
    color: white;
    position: absolute;
    z-index: 4;
    font-size: 50px;
    margin-left: 1rem;
    margin-top: 12rem;
    line-height: 60px;
    font-family:"Impact";
    text-align: center;
}

.ticket3{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    opacity: 0.5;
    width: 300px;
    border-radius: 50px;
    margin-top: 5rem;
    margin-left: 40rem;
}

.tickp3{
    color: white;
    position: absolute;
    z-index: 3;
    font-size: 50px;
    margin-left: 44rem;
    margin-top: 9rem;
    font-family:"Impact";
    text-align: center;
}
#buy{

    font-family: "impact";
    letter-spacing: 5px;
    justify-content: center;
    z-index: 9;
    color:rgb(43, 43, 43);
    box-shadow: 10px 10px #fab7de;
    border: 2px solid #0F0C0E;
    background: #F3D1E5;
    width: 200px;
}
.buy3{
    height: 40px;
    width: 150px;  
    font-family: "impact";
    letter-spacing: 5px; 
    margin-top: 24rem;
    z-index: 3;
    margin-left: 44rem;
    border-radius: 10px;
    position: absolute;
    color:rgb(43, 43, 43);
    box-shadow: 10px 10px #fab7de;
    border: 2px solid #0F0C0E;
    background: #F3D1E5;
}

.ticket4{
    background: linear-gradient(17deg, #FF7FE7 -7.32%, #D36BC0 2.65%, #9B538E 15.94%, #6D3E64 29.23%, #492E44 41.42%, #2F232C 53.6%, #1F1C1E 63.57%, #1A1A1A 72.43%, #FF56E9 103.45%);
    height: 400px;
    opacity: 0.5;
    width: 300px;
    border-radius: 50px;
    margin-top: -25rem;
    margin-left: 62rem;
}

.tickp4{
    color: white;
    position: absolute;
    z-index: 3;
    font-size: 50px;
    margin-left: 62.5rem;
    margin-top: -20rem;
    font-family:"Impact";
    text-align: center;
}

.buy4{
    height: 40px;
    width: 150px;  
    font-family: "impact";
    letter-spacing: 5px; 
    margin-top: -6rem;
    z-index: 3;
    margin-left: 66.5rem;
    border-radius: 10px;
    position: absolute;
    color:rgb(43, 43, 43);
    box-shadow: 10px 10px #fab7de;
    border: 2px solid #0F0C0E;
    background: #F3D1E5;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: #F3D1E5;
}

.contact{
    margin-left: 2rem;
    text-shadow: 5px 3px #ff966d;
    font-family: "impact";
    color: white;
    font-size: 40px;
    font-weight: 100;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fdb3de;
}

.email{
    margin-left: 2rem;
    margin-top: 1rem;
    height: 30px;
}

.phone{
    margin-left: 2rem;
    margin-top: 1rem;
    height: 30px;
}

.location   {
    margin-left: 2rem;
    margin-top: 1rem;
    height: 30px;
}

.aboutsection{
    margin-left: 2rem;
    font-family: "sans-serif";
    color: #1A1A1A;
    font-size: 12px;
    text-align: justify;
    font-weight: 100;
}

.emailid{
    font-family: "sans-serif";
    color: #1A1A1A;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 5rem;
    font-size: 15px;
    font-weight: 100;
}

.phoneno{
    font-family: "sans-serif";
    color: #1A1A1A;
    position: absolute;
    margin-top: -1.8rem;
    margin-left: 5rem;
    font-size: 15px;
    font-weight: 100;
}

.locate{
    font-family: "sans-serif";
    color: #1A1A1A;
    position: absolute;
    margin-top: -2.3rem;
    margin-left: 5rem;
    font-size: 15px;
    font-weight: 100;
}

.inputfield{
    background-color: #EEEEEE;
    height: 470px;
    border-radius: 30px;
    box-shadow: 10px 10px #3a3a3a;
    width: 500px;
    margin-left: 50rem;
    margin-top: -30rem;
    position: absolute;
    z-index: 1;
}

.ss{
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: "Impact";
    color: #1A1A1A;
    letter-spacing: 3px;
    font-size: 20px;
}

.yourname{
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 4.5rem;
    font-size: 15px;
    height: 40px;
    width: 400px;
}

.user{
    height: 35px;
    width: 35px;
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 1.5rem;
}

.message{
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 4.5rem;
    font-size: 15px;
    height: 200px;
    width: 400px;
    text-align: left;
}