body{
    background: #cf5fa4;
    /*background-image: url('./Assets/Images/image.png');*/
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position-x: 13rem;
    background-blend-mode: overlay;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    text-align:justify;
    margin-left: 23rem;
    padding-top: 30px;
}

li{
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Impact';
    letter-spacing: 2px;

    
    &:hover{
        color: #0c0007;
    }
}

.container{
    padding: 0;
    display: inline-block;
}

.child1 {
    width: 50%;
    float: left;
}

.child2{
    padding-left: 10px;
}

.child3{
    width: 180px;
    height: 80px;
    margin-left: 72rem;
    margin-top: -6rem;
    margin-right: 2rem;
}

.child1{
    width: 120px;
    height: 110px;
    margin-left: 1rem;
    margin-top: 0.6rem;
    margin-right: 0rem;
}

.head1{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color: whitesmoke;
    font-size: 100px;
    margin-top: 1.75rem;
    text-shadow: 5px 8px #a80068;
}

.head2{
    text-align: center;
    font-family: 'Impact';
    letter-spacing: 5px;
    color:#74064A;
    font-size: 80px;
    text-shadow: #a80068;
    margin-top: -5rem;
    text-shadow: 3px 5px #d30082;
}

.Wie{
    margin-top: -13rem;
    margin-left: 20rem;
    height: 30rem;
    z-index: 999;
}

.theme{
    height: 100%;
    width: 90%;
    margin-left: 5rem;
}

.theme1{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -20rem;
    margin-left: 7.5rem;
}

.theme2{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 27.5rem;
}

.theme3{
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: 4.5rem;
    margin-left: 47.5rem;
}

.theme4 {
    height: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: antiquewhite;
    z-index: 999;
    position: relative;
    margin-top: -28.5rem;
    margin-left: 68rem;
}

.theme{
    height: 100%;
    width: 95%;
    margin-left: 3rem;
    z-index: -1;
}

.container1{
    background-color: #0c0007;
    height: 1200px;
    width: 1350px;
    margin-top: 20rem;
    display: inline-block;
}

.speakers{
    text-align: center;
    color: azure;
    margin-top: -20rem;
    font-family: "Impact";
    font-size: 60px;
    text-decoration: underline;
}

.speakergrad{
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: -2rem;
    z-index: 0;
}

.speakergrad1{
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 60rem;
    z-index: 0;
}

.speaker1{
    height: 500px;
    width: 400px;
    margin-top: -20rem;
    margin-left: 29rem;
}

.speaker2{
    height: 500px;
    width: 400px;
    margin-top: -10rem;
    margin-left: 3rem;
}

.speaker3{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.speaker4{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}

.speaker5{
    height: 500px;
    width: 400px;
    margin-top: -13rem;
    margin-left: 3rem;
}

.speaker6{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 30rem;
}

.speaker7{
    height: 500px;
    width: 400px;
    margin-top: -31.5rem;
    margin-left: 57rem;
}